@font-face {
  font-family: "Montserrat-Regular";
  src: url("assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("assets/fonts/Montserrat-SemiBold.ttf");
}

@import url("https://fonts.googleapis.com/css?family=Lato");

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 10px;

  @media (max-width: 767px) {
    font-size: 8px;
  }
}

* {
  font-family: Montserrat-Regular;
  color: #555555;
  box-sizing: border-box;
}

button, input {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}